<% if user_signed_in? %>
  <h1 class="page-title text-center">YOUR POLLS</h1>
<% else %>
  <h1 class="page-title text-center">ALL POLLS</h1>
<% end %>

<% if @polls.any? %>
  <%= render @polls %>
<% else %>
  <% if user_signed_in? %>
    <div class="jumbotron text-center">
    YOU HAVE NOT CREATED ANY POLLS YET CREATE ONE <%= link_to "HERE", new_user_poll_path(current_user.id) %>!
    or see everybody else's <%= link_to 'here', polls_path %>
  </div>
<% else %>
  <div class="jumbotron text-center">
    NO POLLS HAVE BEEN CREATED YET! <%= link_to "LOGIN", new_user_session_path %> AND BE THE FIRST!
  </div>
  <% end %>
  <% end %>
<%= will_paginate @polls %>

