<p>User email: <%= @user.email %></p>

<p>Recent Votes:</p> 
<div>
  <hr/>
  <% @votes.each do |vote| %>
    <%= vote.poll.title %>
    <ul>
      <% vote.poll.poll_choices.each do |choice| %>
        <% if choice == vote.poll_choice %>
          <li><strong class="poll_choice_voted"><%= choice.content %></strong></li> 
        <% else %>
          <li><%= choice.content %></li> 
        <% end %>
      <% end %>
    </ul>
    <hr/>

  <% end %>
  <%= will_paginate @votes %>
</div>
