<div id="<%= dom_id poll %>">
  <div class="border rounded shadow-sm p-4 mb-3">
    <span class="poll_title "><%= poll.title %></span>
    <br/>
    <span class="byline">Submitted by: <%= link_to poll.user.email, user_path(poll.user.id) %></span>
    <hr/>
    <div class="container poll-choices-table">
      <% if user_signed_in? %>
        <% if !params[:id].nil? and params[:controller] == "users" %>
          <% votes = @user.votes %>
        <% else %>
          <% @user = current_user %>
          <% votes = current_user.votes %>
        <% end %>
        <% vote = votes.find_by(poll_id: poll.id) %>
      <% end %>
      <% poll.poll_choices.each do |choice| %>
        <% if user_signed_in? %>
          <span>
            <% if vote.nil? %>
              <%= 
                button_to choice.content, user_votes_path(@user.id), 
                  params: { poll_choice_id: choice.id, poll_id: poll.id },
                  class: "btn-hollow rounded shadow-sm poll-choice-button",
                  data: { turbo_method: :post }
                %>
            <% else %>
              <% if vote.poll_choice_id == choice.id %>
                <div class="poll-choice-button rounded btn-solid shadow-lg poll-choice-vote no-hover border-soft">
                  <%= choice.content %>
                </div>
              <% else %>
                <div class="btn-hollow rounded shadow-sm poll-choice-button no-hover border-soft">
                  <%= choice.content %>
                </div>
              <% end %>
            <% end %>
          </span>
        <% else %>
          <%= 
            link_to choice.content, new_user_session_path, 
              class: "btn-hollow rounded shadow-sm poll-choice-button border-soft" 
            %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
